<!DOCTYPE html>
<html>
<head>
  <title>Changelog Nightly</title>
</head>
<body>
<% Issue.tree.each do |year, months| %>
  <div>
    <h1><%= year %></h1>

    <% months.each do |month, days| %>
      <h2><%= month %></h2>

      <% days.each do |day| %>
        <a href="/<%= year %>/<%= month %>/<%= day %>"><%= day %></a>
      <% end %>
    <% end %>
  </div>
<% end %>
</body>
</html>
