
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Changelog Nightly &nbsp; <%= DAY %></title>

    <!-- Open Graph for social shares -->
    <meta property="og:title" content="The Changelog Nightly &nbsp; <%= DAY %>" />
    <meta property="og:image" content="http://thechangelog.com/og-image.jpg" />
    <meta property="og:description" content="Changelog Nightly is a free daily email that unearths the hottest new repos before they blow up. It's nerd to the core and in your inbox each night. No spam!" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/nightly.css">
  </head>

  <body>

    <p style="display: none !important;"><%= top_all.map(&:name).join ", " %> and more!</p>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#373737" class="hide-on-mobile">
      <tr>
        <td width="100%">

          <table width="540" cellpadding="20" cellspacing="0" border="0" align="center">
            <tr>
              <td width="540">

                <p class="top-bar">
                  <webversion>View the web version</webversion>
                  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                  <span><a href="http://thechangelog.com/nightly/archive/">View the archive</a></span>
                  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                  <forwardtoafriend>Share with a friend</forwardtoafriend>
                </p>

              </td>
            </tr>
          </table>

        </td>
      </tr>
    </table>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#272727">
      <tr>
        <td width="100%">

          <table width="540" cellpadding="0" cellspacing="0" border="0" align="center">

            <tr>
              <td width="540">

                <table width="540" cellpadding="20" cellspacing="0" border="0">

                  <tr>
                    <td class="header">
                      <a href="http://thechangelog.com/">
                        <img class="logo" width="185" alt="Changelog Nightly" src="/images/logo.png" />
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td class="section">

                      <h2>Top New Repositories</h2>

                      <p>The 25 most starred repos on GitHub created in the past 24 hours.</p>

                      <div class="repositories">
                        <% top_new.each_with_index do |repo, index| %>
                          <div class='repository <%= 'last-of-type' if index + 1 == top_new.length %>'>

                            <table>
                              <tr>
                                <td width="52" valign="top">
                                  <img class="avatar" src="<%= repo.owner.avatar_url %>" width="40" height="40">
                                </td>
                                <td valign="top">
                                  <h3>
                                    <a href='<%= repo.html_url %>'><%= repo.owner.login %>/<%= repo.name %></a>
                                  </h3>
                                  <p>
                                    <%= repo.language %> &middot; <%= repo.description %>
                                  </p>
                                </td>
                              </tr>
                            </table>

                          </div>
                        <% end %>
                      </div>

                    </td>
                  </tr>

                </table>

                <table width="540" cellpadding="20" cellspacing="0" border="0">

                  <tr>
                    <td class="section">

                      <h2>Top Starred Repositories</h2>

                      <p>The 25 most starred repos on all of GitHub in the past 24 hours.</p>

                      <div class="repositories">
                        <% top_all.each_with_index do |repo, index| %>
                          <div class='repository <%= 'last-of-type' if index + 1 == top_all.length %>'>

                            <table>
                              <tr>
                                <td width="52" valign="top">
                                  <img class="avatar" src="<%= repo.owner.avatar_url %>" width="40" height="40">
                                </td>
                                <td valign="top">
                                  <h3>
                                    <a href='<%= repo.html_url %>'><%= repo.owner.login %>/<%= repo.name %></a>
                                  </h3>
                                  <p>
                                    <%= repo.language %> &middot; <%= repo.description %>
                                  </p>
                                </td>
                              </tr>
                            </table>

                          </div>
                        <% end %>
                      </div>

                    </td>
                  </tr>

                </table>

              </td>
            </tr>

          </table>

        </td>
      </tr>
    </table>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#373737">
      <tr>
        <td width="100%">

          <table width="540" cellpadding="20" cellspacing="0" border="0" align="center">
            <tr>

              <td class="footer">

                <p>You're receiving this email because you opted in at <a href="http://thechangelog.com/nightly/" cm_dontconvertlink>thechangelog.com/nightly</a> - <preferences>manage your subscription</preferences> .</p>

                <p>Don't want to receive this email anymore? You can <unsubscribe>unsubscribe</unsubscribe>, BUT we'll miss you!</p>

                <p>If you're reading this as a non-subscriber <a href="http://thechangelog.com/nightly/">subscribe here</a>.</p>

                <p><a href="https://github.com/thechangelog/ping">Share your news or project</a> / <a href="http://thechangelog.com/sponsorship/">Become a sponsor</a></p>

                <p class="last-of-type">Copyright 2013-2015 <a href="http://riznmedia.com/">RIZN Media</a>, All rights reserved.</p>

              </td>

            </tr>
          </table>

        </td>
      </tr>
    </table>

  </body>
</html>
