<table>
  <tr class="stats">
    <td width="52" valign="middle">
      &nbsp;
    </td>
    <td valign="middle">
      <p>
        <img width="10" alt="Star" src="/images/star.png" />&nbsp;<%= repo.stargazers_count %>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<img width="10" alt="Up" src="/images/up.png" />&nbsp;<%= repo.new_stargazers_count %>
        <% if repo.language %>
          &nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="https://github.com/trending?l=<%= repo.language %>" title="View other trending <%= repo.language %> repos on GitHub"><%= repo.language %></a>
        <% end %>
      </p>
    </td>
  </tr>
  <tr>
    <td width="52" valign="top">
      <a href="<%= repo.owner.html_url %>" title="View <%= repo.owner.login %> on GitHub">
        <img class="avatar" src="<%= repo.owner.avatar_url %>" width="40" height="40">
      </a>
    </td>
    <td valign="top">
      <h3>
        <a href='<%= repo.html_url %>' title="View <%= repo.name %> on GitHub"><%= repo.owner.login %>/<%= repo.name %></a>
      </h3>
      <p>
        <%= repo.description %>
      </p>
    </td>
  </tr>
</table>
