<table>
  <tr class="stats">
    <td width="32" valign="middle">
      &nbsp;
    </td>
    <td valign="middle">
      <p>
        <img height="15" alt="Star" src="/images/star.png" />&nbsp;<%= repo.stargazers_count %>&nbsp;&nbsp;&nbsp;&nbsp;<img height="15" alt="Up" src="/images/up.png" />&nbsp;<%= repo.new_stargazers_count %>
        <% if repo.language %>
          &nbsp;&nbsp;&nbsp;<a class="repository-language <%= repo.language.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>"href="<%= repo.language_trending_url %>" title="View other trending <%= repo.language %> repos on GitHub"><%= repo.language %></a>
        <% end %>
      </p>
    </td>
  </tr>
  <tr>
    <td width="32" valign="top">
      <a href="<%= repo.owner.html_url %>" title="View <%= repo.owner.login %> on GitHub">
        <img class="avatar" src="<%= repo.owner.avatar_url %>" width="20" height="20">
      </a>
    </td>
    <td valign="top">
      <h3>
        <a href='<%= repo.html_url %>' title="View <%= repo.name %> on GitHub"><%= repo.owner.login %>/<%= repo.name %></a>
      </h3>
      <p>
        <%= repo.classy_description %>
      </p>
    </td>
  </tr>
</table>
